.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: auto;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  h2 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-top: 5px;

    @media screen and (max-width: 780px) {
      font-size: 2rem;
    }

    @media screen and (max-width: 400px) {
      font-size: 1.8rem;
    }
  }

  p {
    font-size: 1rem;
    font-weight: 500;
    margin-top: 40px;
    width: 80%;
    color: #6f6f6f;
  }
}

.children {
  margin: 40px 0;
}

.half {
  width: 45%;
  margin-left: 20px;
  @media screen and (max-width: 780px) {
    width: 90%;
    margin-left: 0;
  }

  h2 {
    margin-left: 10px;
  }
  p {
    text-align-last: left;
    width: 100%;
  }
}

.halfContainer {
  justify-content: flex-start;
  align-items: flex-start;
  @media screen and (max-width: 780px) {
    justify-content: center;
    align-items: center;
    p {
      text-align-last: center;
    }
  }
}

.h2Gradient {
  color: #acb6e5; //非対応のブラウザでの文字色を設定
  background: -webkit-linear-gradient(
    0deg,
    #acb6e5,
    #86fde8
  ); //背景色にグラデーションを指定
  -webkit-background-clip: text; //テキストでくり抜く
  background-clip: text;
  -webkit-text-fill-color: transparent; //くり抜いた部分は背景を表示
  animation: hue 7s infinite linear; //hueというアニメーションを指定
}

@keyframes hue {
  from {
    filter: hue-rotate(0deg); //hue-rotateを0から360度にかけて変化させる
  }
  to {
    filter: hue-rotate(360deg);
  }
}
