.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 80px;
  background-color: #fff;
  color: #5c5c5c;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
  border-bottom: 1px solid rgba(105, 105, 105, 0.2);

  @media screen and (max-width: 780px) {
    height: 70px;
  }

  .logo {
    display: flex;
    align-items: center;
    cursor: pointer;

    p {
      font-size: 1.5rem;
      font-weight: 600;
      color: #000;
      margin-left: 10px;
    }
  }

  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    margin-right: 10px;

    @media screen and (max-width: 1080px) {
      width: 40%;
    }

    @media screen and (max-width: 780px) {
      display: none;
    }

    .menuItem {
      font-size: 1rem;
      font-weight: 500;
      margin-left: 20px;
      cursor: pointer;
      transition: all 0.1s ease-in-out;

      &:hover {
        color: #8b8b8b;
      }
    }
  }
}

// .top {
// 	border-bottom: none;
// }
